@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito:wght@600&display=swap");
@import url("./reset.css");
@import url("./header.css");
@import url("./genres.css");
@import url("./price-range.css");
@import url("./albuns.css");

:root {
    --color-brand-1: #6F00FF;
    --color-brand-2: #8629FF;

    --color-gray-1: #15171A;
    --color-gray-2: #212529;
    --color-gray-3: #2B2F33;
    --color-gray-4: #CED4DA;
    --color-gray-5: #DEE2E6;
    --color-gray-6: #F1F3F5;
    --color-gray-7: #F8F9FA;
    --color-gray-8: #FDFEFF;

    --font-family-primary: "inter", sans-serif;
}

.dark-mode:root{
    --color-brand-1: #6F00FF;
    --color-brand-2: #8629FF;
    
    --color-gray-1: #FDFEFF;
    --color-gray-2: #F8F9FA;
    --color-gray-3: #F1F3F5;
    --color-gray-4: #DEE2E6;
    --color-gray-5: #CED4DA;
    --color-gray-6: #2B2F33;
    --color-gray-7: #212529;
    --color-gray-8: #15171A;
}

body{
    font-family: var(--font-family-primary);
    color: var(--color-gray-1);

    background-color: var(--color-gray-8);

    max-width: 64rem;
    height: 98.875rem;
    margin: 0 auto;
}