.filter_div{
    display: flex;
    justify-content: space-between;
}

.filter_title, p{
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-gray-2);
    font-family: var(--font-family-primary);
    padding: 2rem 0rem 2rem 0rem;
}

.color_price{
    color: var(--color-brand-2);
    font-size: 1.375rem;
}

.filter{
    width: 100%;
    height: 1.875rem;
    color: var(--color-brand-1);
}

#price {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    outline: none;
    background-color: var(--color-brand-2);
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  #price::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 0.5rem solid var(--color-brand-2);
  }
